<div>|
    <div
        class="relative rounded-t-md bg-primary-light bg-[url('/assets/images/knowledge/pattern.png')] bg-contain bg-left-top bg-no-repeat px-5 py-10 dark:bg-black md:px-10">
        <div
            class="absolute -bottom-1 -end-6 hidden text-[#DBE7FF] rtl:rotate-y-180 dark:text-[#1B2E4B] lg:block xl:end-0">

            <svg viewBox="0 0 1440 340" style="width: 100%; height: auto;">
                <defs>
                    <style>
                        .cls-1 {
                            fill: url(#linear-gradient);
                        }
                    </style>
                    <linearGradient id="linear-gradient" x1="720" y1="0" x2="720" y2="340"
                        gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#a0d2eb" />
                        <stop offset="1" stop-color="#235d96" />
                    </linearGradient>
                </defs>
                <!-- <path class="cls-1" d="M0,320L60,293.3C120,267,240,213,360,197.3C480,181,600,203,720,234.7C840,267,960,309,1080,309.3C1200,309,1320,267,1380,245.3L1440,224V0H0Z"/> -->
            </svg>
           
        </div>
        <!-- <div class="relative">
            <div class="flex flex-col items-center justify-center sm:-ms-32 sm:flex-row xl:-ms-60">
                <div class="mb-2 flex gap-1 text-end text-base leading-5 sm:flex-col xl:text-xl"> -->

                    <!-- <div class="container">
                        <div class="mb-2 text-center text-2xl font-bold dark:text-white md:text-5xl">Privacy Policy
                        </div>
                    </div> -->
                    <!-- <div
                                class="border-b border-white-light p-6 md:p-6 text-[18px] font-semibold dark:border-dark dark:text-white"> -->
                                <!-- <div class="panel mt-10 text-center md:mt-10">
                                    <h3 class="mb-4 text-xl font-bold dark:text-white md:text-2xl">Privacy Notice</h3>
                                    <div class="text-lg font-medium text-white-dark">
                                        This privacy notice for Candour Automation Technik Private Limited ('we', 'us',
                                        or 'our'), describes how and why we might collect, store, use, and/or share
                                        ('process') your information when you use our services ('Services'), such as
                                        when you:
                                        <ul class="mt-4 text-left list-disc list-inside">
                                            <li>Visit our website at <a href="https://www.candourautotech.com"
                                                    class="text-blue-500">https://www.candourautotech.com</a>, or any
                                                website of ours that links to this privacy notice</li>
                                            <li>Download and use our mobile application (CATRAMS), or any other
                                                application of ours that links to this privacy notice</li>
                                            <li>Engage with us in other related ways, including any sales, marketing, or
                                                events</li>
                                        </ul>
                                        <p class="mt-4">
                                            Questions or concerns? Reading this privacy notice will help you understand
                                            your privacy rights and choices. If you do not agree with our policies and
                                            practices, please do not use our Services.
                                        </p>
                                    </div>
                                </div> -->
                                <!-- <div class="mt-10 flex flex-col items-center justify-center gap-6 sm:flex-row">
                                    <div
                                        class="mt-10 flex flex-col-reverse items-center justify-between gap-5 rounded-md bg-gradient-to-tl from-[rgba(234,241,255,0.44)] to-[rgba(234,241,255,0.96)] px-6 py-2.5 dark:from-[rgba(14,23,38,0.44)] dark:to-[#0E1726] md:flex-row lg:mt-20 xl:px-16">
                                        Texts here.
                                    </div>
                                </div> -->
                            <!-- </div> -->

                    <!-- <div class="mb-10 grid grid-cols-1">
                        <div class="rounded-md bg-white dark:bg-black">
                            
                        </div>
                    </div> -->
                <!-- </div>
            </div>


        </div> -->
    </div>
    
    <div class="mb-10 grid grid-cols-1 ">
        <div class="rounded-md bg-white dark:bg-black">
            <div class="border-b border-white-light p-12 text-[18px] font-semibold dark:border-dark dark:text-white">
                <button type="button" class="btn btn-primary" routerLink="/">Login</button>
                <br><br>
                <!-- <div class="panel mt-10 text-center md:mt-10"> -->
                    <h1 class="mb-4 text-xl font-bold dark:text-white md:text-4xl">Privacy Notice</h1>
                    <div class="text-lg font-medium text-white-dark">
                        This privacy notice for Candour Automation Technik Private Limited ('we', 'us',
                        or 'our'), describes how and why we might collect, store, use, and/or share
                        ('process') your information when you use our services ('Services'), such as
                        when you:
                        <ul class="mt-4 text-left list-disc list-inside">
                            <li>Visit our website at <a href="https://www.candourautotech.com"
                                    class="text-blue-500">https://www.candourautotech.com</a>, or any
                                website of ours that links to this privacy notice</li>
                            <li>Download and use our mobile application (CATRAMS), or any other
                                application of ours that links to this privacy notice</li>
                            <li>Engage with us in other related ways, including any sales, marketing, or
                                events</li>
                        </ul>
                        <p class="mt-4">
                            Questions or concerns? Reading this privacy notice will help you understand
                            your privacy rights and choices. If you do not agree with our policies and
                            practices, please do not use our Services.
                        </p>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>



    <!-- <h3 class="mb-8 text-center text-xl font-semibold md:text-2xl">SUMMARY OF <span class="text-primary">KEY POINTS</span></h3> -->
    <div class="mb-10 grid grid-cols-1 ">
        <div class="rounded-md bg-white dark:bg-black">
            <div class="border-b border-white-light p-12 text-[18px] font-semibold dark:border-dark dark:text-white">
                <h3 class="mb-8 text-center text-xl font-semibold md:text-2xl">SUMMARY OF <span class="text-primary">KEY
                        POINTS</span></h3>
                This summary provides key points from our privacy notice,
                but you can find out more details about any of these topics
                by clicking the link following each key point or by using our table of contents below to find the
                section you are looking for.
            </div>
            <div class="divide-y divide-white-light px-6 py-4.5 dark:divide-dark">

                <div>
                    <div class="flex cursor-pointer items-center justify-between gap-10 px-2.5 py-2 text-base font-semibold hover:bg-primary-light hover:text-primary dark:text-white dark:hover:bg-[#1B2E4B] dark:hover:text-primary"
                        [ngClass]="{ 'bg-primary-light dark:bg-[#1B2E4B] !text-primary': active1 === 1 }"
                        (click)="active1 === 1 ? (active1 = null) : (active1 = 1)">
                        <span>What personal information do we process?</span>
                        <span *ngIf="active1 !== 1" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
                                    fill="currentColor" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>

                        <span *ngIf="active1 === 1" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.5"
                                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                    fill="currentColor" />
                                <path
                                    d="M15.75 12C15.75 12.4142 15.4142 12.75 15 12.75H9C8.58579 12.75 8.25 12.4142 8.25 12C8.25 11.5858 8.58579 11.25 9 11.25H15C15.4142 11.25 15.75 11.5858 15.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>
                    </div>
                    <div [@slideDownUp]="active1 !== 1" class="accordion-content">
                        <div class="px-1 py-3 font-semibold text-white-dark">
                            <p>
                                When you visit, use, or navigate our Services,
                                we may process personal information depending on how you interact with us and the
                                Services,
                                the choices you make, and the products and features you use.
                                Learn more about personal information disclose to us.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex cursor-pointer items-center justify-between gap-10 px-2.5 py-2 text-base font-semibold hover:bg-primary-light hover:text-primary dark:text-white dark:hover:bg-[#1B2E4B] dark:hover:text-primary"
                        [ngClass]="{ 'bg-primary-light dark:bg-[#1B2E4B] !text-primary': active1 === 2 }"
                        (click)="active1 === 2 ? (active1 = null) : (active1 = 2)">
                        <span>Do we process any sensitive personal information? </span>
                        <span *ngIf="active1 !== 2" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
                                    fill="currentColor" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>

                        <span *ngIf="active1 === 2" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.5"
                                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                    fill="currentColor" />
                                <path
                                    d="M15.75 12C15.75 12.4142 15.4142 12.75 15 12.75H9C8.58579 12.75 8.25 12.4142 8.25 12C8.25 11.5858 8.58579 11.25 9 11.25H15C15.4142 11.25 15.75 11.5858 15.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>
                    </div>
                    <div [@slideDownUp]="active1 !== 2" class="accordion-content">
                        <div class="px-1 py-3 font-semibold text-white-dark">
                            <p>
                                We do not process sensitive personal information.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex cursor-pointer items-center justify-between gap-10 px-2.5 py-2 text-base font-semibold hover:bg-primary-light hover:text-primary dark:text-white dark:hover:bg-[#1B2E4B] dark:hover:text-primary"
                        [ngClass]="{ 'bg-primary-light dark:bg-[#1B2E4B] !text-primary': active1 === 3 }"
                        (click)="active1 === 3 ? (active1 = null) : (active1 = 3)">
                        <span>Do we collect any information from third parties?</span>
                        <span *ngIf="active1 !== 3" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
                                    fill="currentColor" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>

                        <span *ngIf="active1 === 3" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.5"
                                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                    fill="currentColor" />
                                <path
                                    d="M15.75 12C15.75 12.4142 15.4142 12.75 15 12.75H9C8.58579 12.75 8.25 12.4142 8.25 12C8.25 11.5858 8.58579 11.25 9 11.25H15C15.4142 11.25 15.75 11.5858 15.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>
                    </div>
                    <div [@slideDownUp]="active1 !== 3" class="accordion-content">
                        <div class="px-1 py-3 font-semibold text-white-dark">
                            <p>
                                We do not collect any information from third parties.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex cursor-pointer items-center justify-between gap-10 px-2.5 py-2 text-base font-semibold hover:bg-primary-light hover:text-primary dark:text-white dark:hover:bg-[#1B2E4B] dark:hover:text-primary"
                        [ngClass]="{ 'bg-primary-light dark:bg-[#1B2E4B] !text-primary': active1 === 5 }"
                        (click)="active1 === 5 ? (active1 = null) : (active1 = 5)">
                        <span>How do we process your information? </span>
                        <span *ngIf="active1 !== 5" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
                                    fill="currentColor" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>

                        <span *ngIf="active1 === 5" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.5"
                                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                    fill="currentColor" />
                                <path
                                    d="M15.75 12C15.75 12.4142 15.4142 12.75 15 12.75H9C8.58579 12.75 8.25 12.4142 8.25 12C8.25 11.5858 8.58579 11.25 9 11.25H15C15.4142 11.25 15.75 11.5858 15.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>
                    </div>
                    <div [@slideDownUp]="active1 !== 5" class="accordion-content">
                        <div class="px-1 py-3 font-semibold text-white-dark">
                            <p>
                                We process your information to provide, improve, and administer our Services,
                                communicate with you, for security and fraud prevention, and to comply with law.
                                We may also process your information for other purposes with your consent.
                                We process your information only when we have a valid legal reason to do so.
                                Learn more about how we process your information.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex cursor-pointer items-center justify-between gap-10 px-2.5 py-2 text-base font-semibold hover:bg-primary-light hover:text-primary dark:text-white dark:hover:bg-[#1B2E4B] dark:hover:text-primary"
                        [ngClass]="{ 'bg-primary-light dark:bg-[#1B2E4B] !text-primary': active1 === 6 }"
                        (click)="active1 === 6 ? (active1 = null) : (active1 = 6)">
                        <span>In what situations and with which parties do we share personal information?</span>
                        <span *ngIf="active1 !== 6" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
                                    fill="currentColor" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>

                        <span *ngIf="active1 === 6" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.5"
                                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                    fill="currentColor" />
                                <path
                                    d="M15.75 12C15.75 12.4142 15.4142 12.75 15 12.75H9C8.58579 12.75 8.25 12.4142 8.25 12C8.25 11.5858 8.58579 11.25 9 11.25H15C15.4142 11.25 15.75 11.5858 15.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>
                    </div>
                    <div [@slideDownUp]="active1 !== 6" class="accordion-content">
                        <div class="px-1 py-3 font-semibold text-white-dark">
                            <p>
                                We may share information in specific situations and with specific third parties.
                                Learn more about when and with whom we share your personal information.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex cursor-pointer items-center justify-between gap-10 px-2.5 py-2 text-base font-semibold hover:bg-primary-light hover:text-primary dark:text-white dark:hover:bg-[#1B2E4B] dark:hover:text-primary"
                        [ngClass]="{ 'bg-primary-light dark:bg-[#1B2E4B] !text-primary': active1 === 7 }"
                        (click)="active1 === 7 ? (active1 = null) : (active1 = 7)">
                        <span>How do we keep your information safe? </span>
                        <span *ngIf="active1 !== 7" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
                                    fill="currentColor" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>

                        <span *ngIf="active1 === 7" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.5"
                                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                    fill="currentColor" />
                                <path
                                    d="M15.75 12C15.75 12.4142 15.4142 12.75 15 12.75H9C8.58579 12.75 8.25 12.4142 8.25 12C8.25 11.5858 8.58579 11.25 9 11.25H15C15.4142 11.25 15.75 11.5858 15.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>
                    </div>
                    <div [@slideDownUp]="active1 !== 7" class="accordion-content">
                        <div class="px-1 py-3 font-semibold text-white-dark">
                            <p>
                                We have organizational and technical processes and procedures in place to protect your
                                personal information.
                                However, no electronic transmission over the internet or information storage technology
                                can be guaranteed to be 100% secure,
                                so we cannot promise or guarantee that hackers, cybercriminals,
                                or other unauthorized third parties will not be able to defeat our security and
                                improperly collect,
                                access, steal, or modify your information.
                                Learn more about how we keep your information safe
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex cursor-pointer items-center justify-between gap-10 px-2.5 py-2 text-base font-semibold hover:bg-primary-light hover:text-primary dark:text-white dark:hover:bg-[#1B2E4B] dark:hover:text-primary"
                        [ngClass]="{ 'bg-primary-light dark:bg-[#1B2E4B] !text-primary': active1 === 8 }"
                        (click)="active1 === 8 ? (active1 = null) : (active1 = 8 )">
                        <span>What are your rights? </span>
                        <span *ngIf="active1 !== 8" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
                                    fill="currentColor" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>

                        <span *ngIf="active1 === 8" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.5"
                                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                    fill="currentColor" />
                                <path
                                    d="M15.75 12C15.75 12.4142 15.4142 12.75 15 12.75H9C8.58579 12.75 8.25 12.4142 8.25 12C8.25 11.5858 8.58579 11.25 9 11.25H15C15.4142 11.25 15.75 11.5858 15.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>
                    </div>
                    <div [@slideDownUp]="active1 !== 8" class="accordion-content">
                        <div class="px-1 py-3 font-semibold text-white-dark">
                            <p>
                                Depending on where you are located geographically,
                                the applicable privacy law may mean you have certain rights regarding your personal
                                information.
                                Learn more about your privacy rights.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex cursor-pointer items-center justify-between gap-10 px-2.5 py-2 text-base font-semibold hover:bg-primary-light hover:text-primary dark:text-white dark:hover:bg-[#1B2E4B] dark:hover:text-primary"
                        [ngClass]="{ 'bg-primary-light dark:bg-[#1B2E4B] !text-primary': active1 === 9 }"
                        (click)="active1 === 9 ? (active1 = null) : (active1 = 9)">
                        <span>How do you exercise your rights?</span>
                        <span *ngIf="active1 !== 9" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12.75 9C12.75 8.58579 12.4142 8.25 12 8.25C11.5858 8.25 11.25 8.58579 11.25 9L11.25 11.25H9C8.58579 11.25 8.25 11.5858 8.25 12C8.25 12.4142 8.58579 12.75 9 12.75H11.25V15C11.25 15.4142 11.5858 15.75 12 15.75C12.4142 15.75 12.75 15.4142 12.75 15L12.75 12.75H15C15.4142 12.75 15.75 12.4142 15.75 12C15.75 11.5858 15.4142 11.25 15 11.25H12.75V9Z"
                                    fill="currentColor" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12 1.25C6.06294 1.25 1.25 6.06294 1.25 12C1.25 17.9371 6.06294 22.75 12 22.75C17.9371 22.75 22.75 17.9371 22.75 12C22.75 6.06294 17.9371 1.25 12 1.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75C17.1086 2.75 21.25 6.89137 21.25 12C21.25 17.1086 17.1086 21.25 12 21.25C6.89137 21.25 2.75 17.1086 2.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>

                        <span *ngIf="active1 === 9" class="shrink-0">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.5"
                                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                                    fill="currentColor" />
                                <path
                                    d="M15.75 12C15.75 12.4142 15.4142 12.75 15 12.75H9C8.58579 12.75 8.25 12.4142 8.25 12C8.25 11.5858 8.58579 11.25 9 11.25H15C15.4142 11.25 15.75 11.5858 15.75 12Z"
                                    fill="currentColor" />
                            </svg>
                        </span>
                    </div>
                    <div [@slideDownUp]="active1 !== 9" class="accordion-content">
                        <div class="px-1 py-3 font-semibold text-white-dark">
                            <p>
                                The easiest way to exercise your rights is by submitting a data subject access request,
                                or by contacting us.
                                We will consider and act upon any request in accordance with applicable data protection
                                laws.
                            </p>
                        </div>
                    </div>
                </div>
                <div>

                </div>
            </div>

        </div>
        <div class="panel mt-10 md:mt-20 px-4">
            <h3 class="text-xl font-bold dark:text-white md:text-2xl">Want to learn more about what we do with any
                information we collect?</h3>
            <p class="mt-4 text-lg font-medium text-white-dark">
                Review the privacy notice in full to understand our practices. Here are the key sections:
            </p>

            <div class="mt-6">
                <h4 class="text-lg font-semibold dark:text-white">TABLE OF CONTENTS</h4>
                <ul class="list-disc list-inside mt-2 text-lg font-medium text-white-dark">
                    <li>1. <a href="#information-collection" class="text-blue-500 hover:underline">WHAT INFORMATION DO
                            WE COLLECT?</a></li>
                    <li>2. <a href="#processing-information" class="text-blue-500 hover:underline">HOW DO WE PROCESS
                            YOUR INFORMATION?</a></li>
                    <li>3. <a href="#sharing-information" class="text-blue-500 hover:underline">WHEN AND WITH WHOM DO WE
                            SHARE YOUR PERSONAL INFORMATION?</a></li>
                    <li>4. <a href="#data-retention" class="text-blue-500 hover:underline">HOW LONG DO WE KEEP YOUR
                            INFORMATION?</a></li>
                    <li>5. <a href="#data-security" class="text-blue-500 hover:underline">HOW DO WE KEEP YOUR
                            INFORMATION SAFE?</a></li>
                    <li>6. <a href="#information-from-minors" class="text-blue-500 hover:underline">DO WE COLLECT
                            INFORMATION FROM MINORS?</a></li>
                    <li>7. <a href="#privacy-rights" class="text-blue-500 hover:underline">WHAT ARE YOUR PRIVACY
                            RIGHTS?</a></li>
                    <li>8. <a href="#do-not-track" class="text-blue-500 hover:underline">CONTROLS FOR DO-NOT-TRACK
                            FEATURES</a></li>
                    <li>9. <a href="#updates" class="text-blue-500 hover:underline">DO WE MAKE UPDATES TO THIS
                            NOTICE?</a></li>
                    <li>10. <a href="#contact" class="text-blue-500 hover:underline">HOW CAN YOU CONTACT US ABOUT THIS
                            NOTICE?</a></li>
                    <li>11. <a href="#data-review" class="text-blue-500 hover:underline">HOW CAN YOU REVIEW, UPDATE, OR
                            DELETE THE DATA WE COLLECT FROM YOU?</a></li>
                </ul>
            </div>

            <div class="mt-10">
                <h4 id="information-collection" class="text-lg font-semibold dark:text-white">1. WHAT INFORMATION DO WE
                    COLLECT?</h4>
                <p class="mt-2 text-lg font-medium text-white-dark">
                    Personal information you disclose to us
                    <br><br>
                    In Short: We collect personal information that you provide to us.
                    <br><br>
                    We collect personal information that you voluntarily provide to us when you register on the
                    Services, express an interest in obtaining information about us or our products and Services, when
                    you participate in activities on the Services, or otherwise when you contact us.
                </p>
                <ul class="list-disc list-inside mt-4 text-lg font-medium text-white-dark">
                    <li>Names</li>
                    <li>Phone numbers</li>
                    <li>Email addresses</li>
                    <li>Usernames</li>
                    <li>Passwords</li>
                    <li>Contact or authentication data</li>
                    <li>Billing addresses</li>
                    <li>Debit/credit card numbers</li>
                </ul>
                <p class="mt-4 text-lg font-medium text-white-dark">
                    Sensitive Information: We do not process sensitive information.
                    <br><br>
                    Payment Data: We may collect data necessary to process your payment if you choose to make purchases,
                    such as your payment instrument number, and the security code associated with your payment
                    instrument. All payment data is handled and stored by Easebuzz. You may find their privacy notice
                    link(s) here: <a href="https://easebuzz.in/privacy/"
                        class="text-blue-500 hover:underline">https://easebuzz.in/privacy/</a>.
                    <br><br>
                    Application Data: If you use our application(s), we also may collect the following information if
                    you choose to provide us with access or permission:
                    <br><br>
                    Geolocation Information: We may request access or permission to track location-based information
                    from your mobile device, either continuously or while you are using our mobile application(s), to
                    provide certain location-based services. If you wish to change our access or permissions, you may do
                    so in your device's settings.
                    <br><br>
                    Push Notifications: We may request to send you push notifications regarding your account or certain
                    features of the application(s). If you wish to opt out from receiving these types of communications,
                    you may turn them off in your device's settings.
                    <br><br>
                    This information is primarily needed to maintain the security and operation of our application(s),
                    for troubleshooting, and for our internal analytics and reporting purposes.
                    <br><br>
                    All personal information that you provide to us must be true, complete, and accurate, and you must
                    notify us of any changes to such personal information.
                </p>


            </div>

            <!-- 2=========================2 -->


            <div class="mt-10">
                <h4 id="processing-information" class="text-lg font-semibold dark:text-white">2. HOW DO WE PROCESS
                    YOUR INFORMATION?</h4>
                <p class="mt-4 text-lg font-medium text-white-dark">
                    In Short: We process your information to provide, improve, and administer our Services,
                    communicate with you, for security and fraud prevention, and to comply with law.
                    We may also process your information for other purposes with your consent.
                    <br><br>
                    We process your personal information for a variety of reasons, depending on how you interact with
                    our Services, including:
                </p>

                <p class="mt-4 text-lg font-medium text-white-dark">
                    To facilitate account creation and authentication and otherwise manage user accounts.
                    We may process your information so you can create and log in to your account,
                    as well as keep your account in working order
                    <br><br>
                    To respond to user inquiries/offer support to users.
                    We may process your information to respond to your inquiries and
                    solve any potential issues you might have with the requested service.
                    <br><br>
                    Fulfil and manage your orders.
                    We may process your information to fulfil and manage your orders, payments, returns, and exchanges
                    made through the Services.
                    <br><br>
                    To enable user-to-user communications.
                    We may process your information if you choose to use any of our offerings that allow for
                    communication with another user.
                    <br><br>
                    To request feedback.
                    We may process your information when necessary to request feedback and to contact you about your use
                    of our Services.
                    <br><br>
                    * To protect our Services. We may process your information as part of our efforts to keep our
                    Services safe and secure,
                    including fraud monitoring and prevention.
                    <br><br>
                    To evaluate and improve our Services, products, marketing, and your experience.
                    We may process your information when we believe it is necessary to identify usage trends,
                    determine the effectiveness of our promotional campaigns,
                    and to evaluate and improve our Services, products, marketing, and your experience.
                </p>


            </div>

            <!-- 3=========================3 -->

            <div class="mt-10">
                <h4 id="sharing-information" class="text-lg font-semibold dark:text-white">3. WHEN AND WITH WHOM DO WE
                    SHARE YOUR PERSONAL INFORMATION??</h4>
                <p class="mt-2 text-lg font-medium text-white-dark">

                    In Short: We may share information in specific situations
                    described in this section and/or with the following third parties.
                    <br><br>
                    We may need to share your personal information in the following situations:
                </p>

                <p class="mt-4 text-lg font-medium text-white-dark">
                    * Business Transfers. We may share or transfer your information in connection with, or during
                    negotiations of,
                    any merger, sale of company assets, financing, or acquisition of all or a portion of our business to
                    another company.
                    <br><br>

                </p>

            </div>

            <!-- 4=========================4 -->

            <div class="mt-10">
                <h4 id="data-retention" class="text-lg font-semibold dark:text-white">4. HOW LONG DO WE KEEP YOUR
                    INFORMATION?</h4>
                <p class="mt-2 text-lg font-medium text-white-dark">

                    In Short: We keep your information for as long as necessary to
                    fulfil the purposes outlined in this privacy notice unless otherwise required by law.
                    <br><br>
                    We will only keep your personal information for as long as it is necessary for the purposes set out
                    in this privacy notice,
                    unless a longer retention period is required or permitted by law (such as tax, accounting, or other
                    legal requirements).
                    No purpose in this notice will require us keeping your personal information for longer
                    than the period of time in which users have an account with us.
                </p>

                <p class="mt-4 text-lg font-medium text-white-dark">
                    When we have no ongoing legitimate business need to process your personal information,
                    we will either delete or anonymise such information, or, if this is not possible (for example,
                    because your personal information has been stored in backup archives),
                    then we will securely store your personal information and isolate it from any further processing
                    until deletion is possible.
                    <br><br>

                </p>

            </div>

            <!-- 5=========================5 -->

            <div class="mt-10">
                <h4 id="data-security" class="text-lg font-semibold dark:text-white">5. HOW DO WE KEEP YOUR INFORMATION
                    SAFE?</h4>
                <p class="mt-2 text-lg font-medium text-white-dark">

                    In Short: We aim to protect your personal information through a system of organisational and
                    technical security measures.
                    <br><br>
                    We have implemented appropriate and reasonable technical and organisational security measures
                    designed to protect the security of any personal information we process.
                    However, despite our safeguards and efforts to secure your information, no electronic transmission
                    over the Internet or information storage technology can be guaranteed to be 100% secure,
                    so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorised third parties
                    will not be able to defeat our security and improperly collect, access, steal, or modify your
                    information.
                    Although we will do our best to protect your personal information, transmission of personal
                    information to and from our Services is at your own risk.
                    You should only access the Services within a secure environment
                </p>

            </div>

            <!-- 6=========================6 -->

            <div class="mt-10">
                <h4 id="information-from-minors" class="text-lg font-semibold dark:text-white">6. DO WE COLLECT
                    INFORMATION FROM
                    MINORS?</h4>
                <p class="mt-2 text-lg font-medium text-white-dark">

                    In Short: We do not knowingly collect data from or market to children under 18 years of age
                    <br><br>
                    We do not knowingly collect, solicit data from, or market to children under 18 years of age, nor do
                    we knowingly sell such personal information. By using the Services, you represent that you are at
                    least 18 or that you are the parent or guardian of such a minor and consent to such minor
                    dependent's use of the Services. If we learn that personal information from users less than 18 years
                    of age has been collected, we will deactivate the account and take reasonable measures to promptly
                    delete such data from our records. If you become aware of any data we may have collected from
                    children under age 18.
                </p>

            </div>

            <!-- 7=========================7 -->


            <div class="mt-10">
                <h4 id="privacy-rights" class="text-lg font-semibold dark:text-white">7. WHAT ARE YOUR PRIVACY RIGHTS?
                </h4>
                <p class="mt-4 text-lg font-medium text-white-dark">
                    In Short: You may review, change, or terminate your account at any time, depending on your country,
                    province, or state of residence.
                    <br><br>
                    <u> <b>Withdrawing your consent:</b></u> If we are relying on your consent to process your personal
                    information,
                    which may be express and/or implied consent depending on the applicable law, you have the right to
                    withdraw your consent at any time. You can withdraw your consent at any time by contacting us by
                    using the contact details provided in the section 'HOW CAN YOU CONTACT US ABOUT THIS NOTICE? below.
                </p>

                <p class="mt-4 text-lg font-medium text-white-dark">
                    However, please note that this will not affect the lawfulness of the processing before its
                    withdrawal nor, when applicable law allows, will it affect the processing of your personal
                    information conducted in reliance on lawful processing grounds other than consent.
                    <br><br>
                    <b>Account Information</b>
                    <br><br>
                    If you would at any time like to review or change the information in your account or terminate your
                    account you can:
                    <br><br>
                </p>

                <ul class="list-disc list-inside mt-4 text-lg font-medium text-white-dark">
                    <li>Log in to your account settings and update your user account</li>

                </ul>

                <br><br>

                <p class="mt-4 text-lg font-medium text-white-dark">
                    Upon your request to terminate your account, we will deactivate or delete your account and
                    information from our active databases. However, we may retain some information in our files to
                    prevent fraud, troubleshoot problems, assist with any investigations, enforce our legal terms and/or
                    comply with applicable legal requirements.

                </p>


            </div>

            <!-- 8=========================8 -->

            <div class="mt-10">
                <h4 id="do-not-track" class="text-lg font-semibold dark:text-white">8. CONTROLS FOR DO-NOT-TRACK
                    FEATURES</h4>
                <p class="mt-2 text-lg font-medium text-white-dark">


                    Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track
                    ('DNT') feature or setting you can activate to signal your privacy preference not to have data about
                    your online browsing activities monitored and collected. At this stage, no uniform technology
                    standard for recognising and implementing DNT signals has been finalised. As such, we do not
                    currently respond to DNT browser signals or any other mechanism that automatically communicates your
                    choice not to be tracked online, If a standard for online tracking is adopted that we must follow in
                    the future, we will inform you about that practice in a revised version of this privacy notice
                    <br><br>

                </p>

            </div>

            <!-- 9=========================9 -->

            <div class="mt-10">
                <h4 id="updates" class="text-lg font-semibold dark:text-white">9. DO WE MAKE UPDATES TO THIS NOTICE?
                </h4>
                <p class="mt-2 text-lg font-medium text-white-dark">

                    In Short: Yes, we will update this notice as necessary to stay compliant with relevant laws.
                    <br><br>
                    We may update this privacy notice from time to time. The updated version will be indicated by an
                    updated "Revised date at the top of this privacy notice. If we make material changes to this privacy
                    notice, we may notify you either by prominently posting a notice of such changes or by directly
                    sending you a notification We encourage you to review this privacy notice frequently to be informed
                    of how we are protecting your Information.
                </p>

            </div>

            <!-- 10=========================10 -->

            <div class="mt-10">
                <h4 id="contact" class="text-lg font-semibold dark:text-white">10. HOW CAN YOU CONTACT US ABOUT THIS
                    NOTICE?</h4>
                <p class="mt-2 text-lg font-medium text-white-dark">

                    In Short: If you have questions or comments about this notice, you may contact us by post at:
                    <br><br>
                    Candour Automation Technik Private Limited
                    BUILDING NO. VP.II/1148,, NEAR MANIKANTESWARAM BRIDGE, PEROORKADA. P.O, TRIVANDRUM,
                    Thiruvananthapuram, Kerala, India, 695005

                </p>

            </div>

            <!-- 11=========================11 -->

            <div class="mt-10">
                <h4 id="data-review" class="text-lg font-semibold dark:text-white">11. HOW CAN YOU REVIEW, UPDATE, OR
                    DELETE THE DATA WE COLLECT FROM YOU?</h4>
                <p class="mt-2 text-lg font-medium text-white-dark">

                    Based on the applicable laws of your country, you may have the right to request access to the
                    personal Information we collect from you, details about how we have processed it, correct
                    inaccuracies, or delete your personal information. You may also have the right to withdraw your
                    consent to our processing of your personal information. These rights may be limited in some
                    circumstances by applicable law. To request to review, update, or delete your personal information,
                    please fill out and submit a data subject access request.
                    <br><br>

                </p>

            </div>


            


        </div>