<div>
    <div class="mb-5">
        <ol class="flex font-semibold text-primary dark:text-white-dark">
            <li class="bg-[#ebedf2] ltr:rounded-l-md rtl:rounded-r-md dark:bg-[#1b2e4b]">
                <a href="javascript:;" (click)="adminsettings()"
                    class="relative flex h-full items-center p-1.5 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-t-transparent before:border-b-transparent before:border-l-[#ebedf2] hover:text-primary/70 ltr:pl-3 ltr:pr-2 ltr:before:-right-[15px] rtl:pr-3 rtl:pl-2 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70">
                    Admin Settings</a>
            </li>
            <li class="bg-[#ebedf2] ltr:rounded-l-md rtl:rounded-r-md dark:bg-[#1b2e4b]">
                <a href="javascript:;" (click)="custsettings()"
                    class="relative flex h-full items-center p-1.5 before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-t-transparent before:border-b-transparent before:border-l-[#ebedf2] hover:text-primary/70 ltr:pl-3 ltr:pr-2 ltr:before:-right-[15px] rtl:pr-3 rtl:pl-2 rtl:before:-left-[15px] rtl:before:rotate-180 dark:before:border-l-[#1b2e4b] dark:hover:text-white-dark/70">
                    Premium Customer Settings</a>
            </li>
            <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
                <a
                    class="relative flex h-full items-center bg-primary p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-t-transparent before:border-b-transparent before:border-l-primary ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pr-6 rtl:pl-2 rtl:before:-left-[15px] rtl:before:rotate-180">
                    Premium Discount Create</a>
            </li>
    
        </ol>
    </div>
    <h5 class="text-xl font-semibold dark:text-white-light">Discount Create</h5>
    <div class="flex flex-col gap-2.5 xl:flex-row">
        <div class="panel flex flex-row w-full ltr:xl:mr-6 rtl:xl:ml-6">
            <form [formGroup]="discountform" class="flex-1 space-y-5 dark:text-white" (ngSubmit)="insert_disc()">
                <div class="flex flex-row space-x-4">
                    <div class="flex-1">
                        <label for="ctnSelect1">Discount Type</label>
                        <select id="ctnSelect1" class="form-select text-white-dark" required
                            (change)="discountTypeChanged($event)">
                            <option [value]="-1"selected disabled>Select Discount Type</option>
                            <option [value]="0">Cash Specific</option>
                            <option [value]="1">Percent Specific</option>
                        </select>
                       
                    </div>
                    <div class="flex-1" style=" margin-left: 10%;" *ngIf="cd_type==0">
                        <label for="cd_rate">Enter Cash Value</label>
                        <div class="relative text-white-dark">
                            <input id="cd_rate" type="text" placeholder="Enter Cash Value" formControlName="cd_rate"
                                class="form-input placeholder:text-white-dark" name="cd_rate" />
                        </div>
                    </div>
                    <div class="flex-1" style=" margin-left: 10%;" *ngIf="cd_type==1">
                        <label for="cd_rate">Enter Percent Value</label>
                        <div class="relative text-white-dark">
                            <input id="cd_rate" type="text" placeholder="Enter Cash Value" formControlName="cd_rate"
                                class="form-input placeholder:text-white-dark" name="cd_rate" />
                        </div>
                        <span ><b class="span-class">*Affects total Cost for the selected request</b></span>
                    </div>

                    <div class="flex-1" style="    margin-left: 10%;">
                        <label for="coupon_code">Request Type</label>
                        <select id="ctnSelect1" class="form-select text-white-dark" required
                            (change)="requestTypeChanged($event)">
                            <option [value]="-1" selected disabled>Select Request Type</option>
                            <option [value]="0">Service Specific</option>
                            <option [value]="1">Rent Specific</option>
                            <option [value]="2">Order Specific</option>
                            <option [value]="3">Assign to All</option>
                        </select>
                    </div>
                   
                </div>
        
                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-1">
                    <div class="flex justify-end">
                        <a routerLink="/customer-settings">
                            <button type="button" class="btn btn-dark gap-2" style="margin-right: 1%;">
                                Cancel
                            </button>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-success gap-2" [disabled]="!discountform.valid">
                            Create
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
