@import 'swiper/swiper-bundle.min.css';
@import 'tailwind.css';
@import 'lightbox.css';
@import 'multiselect.css';
@import 'tippy.js/dist/tippy.css';
@import '@ng-select/ng-select/themes/default.theme.css';


/* Hide arrows in Chrome, Safari, and Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}