<div class="mb-5" style="margin-left: -40px;">
    <ol class="flex font-semibold text-primary dark:text-white-dark">
      
      <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
          class="relative flex h-full items-center bg-success p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-t-transparent before:border-b-transparent before:border-l-success ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pr-6 rtl:pl-2 rtl:before:-left-[15px] rtl:before:rotate-180">
           {{'Service Request'|translate}} </a></li>

    </ol>
</div>
<div style="margin-left: -40px;">
    <div class="relative flex h-full gap-5 sm:h-[calc(100vh_-_150px)]">
        <div class="panel absolute z-10 hidden h-full w-[240px] max-w-full flex-none space-y-4 p-4 ltr:rounded-r-none rtl:rounded-l-none xl:relative xl:block xl:h-auto ltr:xl:rounded-r-md rtl:xl:rounded-l-md"
            [ngClass]="{ '!block': isShowTaskMenu }">
            <div class="flex h-full flex-col pb-16">
                <div class="pb-5">
                    <div class="flex items-center text-center">
                        <div class="shrink-0">
                            <svg width="18" height="18" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M17.5 2.75C17.9142 2.75 18.25 3.08579 18.25 3.5V5.75H20.5C20.9142 5.75 21.25 6.08579 21.25 6.5C21.25 6.91421 20.9142 7.25 20.5 7.25H18.25V9.5C18.25 9.91421 17.9142 10.25 17.5 10.25C17.0858 10.25 16.75 9.91421 16.75 9.5V7.25H14.5C14.0858 7.25 13.75 6.91421 13.75 6.5C13.75 6.08579 14.0858 5.75 14.5 5.75H16.75V3.5C16.75 3.08579 17.0858 2.75 17.5 2.75Z"
                                    fill="#1C274C" />
                                <path
                                    d="M2 6.5C2 4.37868 2 3.31802 2.65901 2.65901C3.31802 2 4.37868 2 6.5 2C8.62132 2 9.68198 2 10.341 2.65901C11 3.31802 11 4.37868 11 6.5C11 8.62132 11 9.68198 10.341 10.341C9.68198 11 8.62132 11 6.5 11C4.37868 11 3.31802 11 2.65901 10.341C2 9.68198 2 8.62132 2 6.5Z"
                                    fill="#1C274C" />
                                <path
                                    d="M13 17.5C13 15.3787 13 14.318 13.659 13.659C14.318 13 15.3787 13 17.5 13C19.6213 13 20.682 13 21.341 13.659C22 14.318 22 15.3787 22 17.5C22 19.6213 22 20.682 21.341 21.341C20.682 22 19.6213 22 17.5 22C15.3787 22 14.318 22 13.659 21.341C13 20.682 13 19.6213 13 17.5Z"
                                    fill="#1C274C" />
                                <path opacity="0.5"
                                    d="M2 17.5C2 15.3787 2 14.318 2.65901 13.659C3.31802 13 4.37868 13 6.5 13C8.62132 13 9.68198 13 10.341 13.659C11 14.318 11 15.3787 11 17.5C11 19.6213 11 20.682 10.341 21.341C9.68198 22 8.62132 22 6.5 22C4.37868 22 3.31802 22 2.65901 21.341C2 20.682 2 19.6213 2 17.5Z"
                                    fill="#1C274C" />
                            </svg>
                        </div>
                        <h3 class="text-lg font-semibold ltr:ml-3 rtl:mr-3">Service Request</h3>
                    </div>
                </div>
                <div class="mb-5 h-px w-full border-b border-[#e0e6ed] dark:border-[#1b2e4b]"></div>
                <ng-scrollbar class="relative h-full grow ltr:pr-3.5 rtl:pl-3.5" appearance="compact">
                    <div class="space-y-1">
                        <button type="button"
                            class="flex h-10 w-full items-center justify-between rounded-md p-2 font-medium hover:bg-white-dark/10 hover:text-primary dark:hover:bg-[#181F32] dark:hover:text-primary"
                            [ngClass]="{ 'bg-gray-100 dark:text-primary text-primary dark:bg-[#181F32]': selectedTab === 'sList' }"
                            (click)="tabChanged('sList')">
                            <div class="flex items-center">
                                <div class="ltr:ml-3 rtl:mr-3">Service List</div>
                            </div>
                        </button>
                        <button type="button"
                            class="flex h-10 w-full items-center justify-between rounded-md p-2 font-medium hover:bg-white-dark/10 hover:text-primary dark:hover:bg-[#181F32] dark:hover:text-primary"
                            [ngClass]="{ 'bg-gray-100 dark:text-primary text-primary dark:bg-[#181F32]': selectedTab === 'wkList' }"
                            (click)="tabChanged('wkList')">
                            <div class="flex items-center">
                                <div class="ltr:ml-3 rtl:mr-3">Work Cards</div>
                            </div>
                        </button>
                        <button type="button"
                            class="flex h-10 w-full items-center justify-between rounded-md p-2 font-medium hover:bg-white-dark/10 hover:text-primary dark:hover:bg-[#181F32] dark:hover:text-primary"
                            [ngClass]="{ 'bg-gray-100 dark:text-primary text-primary dark:bg-[#181F32]': selectedTab === 'qList' }"
                            (click)="tabChanged('qList')">
                            <div class="flex items-center">
                                <div class="ltr:ml-3 rtl:mr-3">Quotes</div>
                            </div>
                        </button>
                        <button type="button"
                            class="flex h-10 w-full items-center justify-between rounded-md p-2 font-medium hover:bg-white-dark/10 hover:text-primary dark:hover:bg-[#181F32] dark:hover:text-primary"
                            [ngClass]="{ 'bg-gray-100 dark:text-primary text-primary dark:bg-[#181F32]': selectedTab === 'sHistory' }"
                            (click)="tabChanged('sHistory')">
                            <div class="flex items-center">
                                <div class="ltr:ml-3 rtl:mr-3">Service History</div>
                            </div>
                        </button>
                    </div>
                </ng-scrollbar>
            </div>
        </div>
        <div class="overlay absolute z-[5] hidden h-full w-full rounded-md bg-black/60"
            [ngClass]="{ '!block xl:!hidden': isShowTaskMenu }" (click)="isShowTaskMenu = !isShowTaskMenu"></div>
        <div class="panel h-full flex-1 overflow-auto p-0">
            <div class="flex h-full flex-col">
                <!-- <div class="h-px w-full border-b border-[#e0e6ed] dark:border-[#1b2e4b]">
                </div> -->
                <div *ngIf="selectedTab === 'sList'"
                    class="sList panel  min-h-[800px] grow overflow-y-auto sm:min-h-[800px]">
                    <app-service-req-list></app-service-req-list>
                </div>
                <div *ngIf="selectedTab === 'wkList'"
                    class="type panel  min-h-[800px] grow overflow-y-auto sm:min-h-[800px]">
                    <app-work-card-list></app-work-card-list>
                </div>
                <div *ngIf="selectedTab === 'qList'"
                    class="category panel  min-h-[800px] grow overflow-y-auto sm:min-h-[800px]">
                    <app-quotation-list-module></app-quotation-list-module>
                </div>
                <div *ngIf="selectedTab === 'sHistory'"
                    class="category panel  min-h-[800px] grow overflow-y-auto sm:min-h-[800px]">
                    <!-- <app-itemsettingssubcategory></app-itemsettingssubcategory> -->
                </div>
            </div>
        </div>
    </div>
</div>
