<div class="mb-5">
    <ol class="flex font-semibold text-primary dark:text-white-dark">
      
          
      <li class="bg-[#ebedf2] dark:bg-[#1b2e4b]">
        <a
          class="relative flex h-full items-center bg-success p-1.5 text-white-light before:absolute before:inset-y-0 before:z-[1] before:m-auto before:h-0 before:w-0 before:border-[16px] before:border-l-[15px] before:border-r-0 before:border-t-transparent before:border-b-transparent before:border-l-success ltr:pl-6 ltr:pr-2 ltr:before:-right-[15px] rtl:pr-6 rtl:pl-2 rtl:before:-left-[15px] rtl:before:rotate-180">
          {{'Inventory'|translate}}</a></li>

    </ol>
  </div>
<div *ngIf="this.permission_Denied==0">

    <div >
        <div class="panel mt-6 pb-0">
            <div class="mb-5 flex flex-col gap-5 md:flex-row md:items-center">
                <div class=" flex flex-col gap-5 md:flex-row md:items-center">
                    <!-- <h5 class="text-lg font-semibold dark:text-white-light">Tool Request List </h5> -->
                    <div class="ltr:ml-auto rtl:mr-auto">
                        <input [(ngModel)]=" search" type="text" class="form-input w-auto" placeholder=" {{'Search...'|translate}}" />
                    </div>
                </div>
                <div class="flex-2">
                    <button type="button" class="btn btn-info h-9 btn-sm" (click)="createtool()">
                        <svg width="12" height="12" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.5" d="M12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22Z" fill="#eeeeee36"/>
                            <path d="M12 8.25C12.4142 8.25 12.75 8.58579 12.75 9V11.25H15C15.4142 11.25 15.75 11.5858 15.75 12C15.75 12.4142 15.4142 12.75 15 12.75H12.75L12.75 15C12.75 15.4142 12.4142 15.75 12 15.75C11.5858 15.75 11.25 15.4142 11.25 15V12.75H9C8.58579 12.75 8.25 12.4142 8.25 12C8.25 11.5858 8.58579 11.25 9 11.25H11.25L11.25 9C11.25 8.58579 11.5858 8.25 12 8.25Z" fill="#FFFFFF"/>
                          </svg>
                          &nbsp;
                            
                         {{'Create Tool'|translate}}
                        &nbsp;</button>
                
                </div>
              
            </div>
    
            <div class="datatable">
                <ng-datatable [rows]="rows" [columns]="cols" skin="whitespace-nowrap bh-table-hover" [loading]="loading" [sortable]="true" [search]="search"
                firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
                lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg> '
                previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
                nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'>
                <ng-template slot="tool_image" let-value="data">
                    <div class="flex items-center gap-2">
                        <img src="{{base_img_url+value.tool_images}}" class="h-12 w-12 max-w-none rounded-full" alt="user-profile" />
               
                    </div>
                </ng-template>
                   <ng-template slot="tool_total_quantity" let-value="data"> 
                    <span class="badge badge-outline-danger" *ngIf="value.tool_total_quantity==0">
                        {{'No  Quantity'|translate}}
                    </span>
                    <span  *ngIf="value.tool_total_quantity!=0&&value.tool_total_quantity<=10 ">
                        <span style="font-weight:600;color: #d6af2d;">{{value.tool_total_quantity}}</span>
                            <br>
                            <span style="font-style: italic;font-size: 85%;color: #d6af2d;">{{"Low  Quantity"|translate}}</span>
                    </span> 
                    <span *ngIf="value.tool_total_quantity>10">
                        <span style="font-weight:600;color: green;">{{value.tool_total_quantity}}</span>
                    </span>   
                   </ng-template >
    
                    <ng-template slot="tool_sale_quantity" let-value="data">
                        <span class="badge badge-outline-danger" *ngIf="value.tool_sale_quantity==0">
                            {{'No Sale Quantity'|translate}}
                        </span>
                        <span  *ngIf="value.tool_sale_quantity!=0&&value.tool_sale_quantity<=10 " >
                            <span style="font-weight:600;color: #d6af2d;">{{value.tool_sale_quantity}}</span>
                            <br>
                            <span style="font-style: italic;font-size: 85%;color: #d6af2d;">{{'Low Sale Quantity'|translate}}</span>
                        </span>
                        <span  *ngIf="value.tool_sale_quantity>10"><span style="font-weight:600;color: green;">{{value.tool_sale_quantity}}</span></span>
                    </ng-template>
                    <ng-template slot="tool_rent_quantity" let-value="data">
                        <span class="badge badge-outline-danger" *ngIf="value.tool_rent_id==0 ">{{'No Rent'|translate}} 
                        </span>
                        <span  *ngIf="value.tool_rent_id!=0" >
                            <span  *ngIf="value.tool_rent_quantity==0">
                                {{'No Rent Quantity'|translate}}
                            </span>
                            <span *ngIf="value.tool_rent_quantity!=0&&value.tool_rent_quantity<=10 ">
                                <span style="font-weight:600;color: #d6af2d;">{{value.tool_rent_quantity}}</span>
                            <br>
                            <span style="font-style: italic;font-size: 85%;color: #d6af2d;">{{'Low Rent Quantity'|translate}}</span>
                            </span>
                            <span  *ngIf="value.tool_rent_quantity>10">
                                <span style="font-weight:600;color: green;">{{value.tool_rent_quantity}}</span>
                            </span>
                        
                        </span>
                    </ng-template>
                    <ng-template slot="Action" let-value="data">
                        <button type="button" ngxTippy data-tippy-content="View Details"
                                                (click)="edit(value.tool_id)">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M2 6.63415C2 4.07478 4.07478 2 6.63415 2C9.19351 2 11.2683 4.07478 11.2683 6.63415C11.2683 9.19351 9.19351 11.2683 6.63415 11.2683C4.07478 11.2683 2 9.19351 2 6.63415Z"
                                                        fill="#1C274C" />
                                                    <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M12.7324 17.3658C12.7324 14.8065 14.8072 12.7317 17.3666 12.7317C19.9259 12.7317 22.0007 14.8065 22.0007 17.3658C22.0007 19.9252 19.9259 22 17.3666 22C14.8072 22 12.7324 19.9252 12.7324 17.3658Z"
                                                        fill="#1C274C" />
                                                    <path
                                                        d="M2 17.5C2 15.3787 2 14.318 2.65901 13.659C3.31802 13 4.37868 13 6.5 13C8.62132 13 9.68198 13 10.341 13.659C11 14.318 11 15.3787 11 17.5C11 19.6213 11 20.682 10.341 21.341C9.68198 22 8.62132 22 6.5 22C4.37868 22 3.31802 22 2.65901 21.341C2 20.682 2 19.6213 2 17.5Z"
                                                        fill="#1C274C" />
                                                    <path opacity="0.5"
                                                        d="M13 6.5C13 4.37868 13 3.31802 13.659 2.65901C14.318 2 15.3787 2 17.5 2C19.6213 2 20.682 2 21.341 2.65901C22 3.31802 22 4.37868 22 6.5C22 8.62132 22 9.68198 21.341 10.341C20.682 11 19.6213 11 17.5 11C15.3787 11 14.318 11 13.659 10.341C13 9.68198 13 8.62132 13 6.5Z"
                                                        fill="#1C274C" />
                                                </svg>
            
                                            </button>
                        
                    </ng-template>
                </ng-datatable>
            </div>
        </div>
    
       
    </div>

</div>
<div class="panel" *ngIf="this.permission_Denied==1">
    <div class="relative flex min-h-screen items-center justify-center overflow-hidden">
        <div
            class="px-6 py-16 text-center font-semibold before:container before:absolute before:left-1/2 before:aspect-square before:-translate-x-1/2 before:rounded-full before:bg-[linear-gradient(180deg,#4361EE_0%,rgba(67,97,238,0)_50.73%)] before:opacity-10 md:py-20"
        >
            <div class="relative">
                <img
                    [src]="'/assets/images/error/403forbiddenerror.jpg'"
                    alt="503"
                    class="mx-auto w-full max-w-xs object-cover md:max-w-xl"
                />
                <p class="mt-5 text-base dark:text-white">{{'Service Unavailable'|translate}}!</p>
                <button class="btn btn-danger mx-auto !mt-7 w-max border-0 uppercase shadow-none" type="button" (click)="toolrequestlist()">
                 {{"Home"|translate}}
                </button>
                
            </div>
        </div>
    </div>
</div>


